<dl class="tabs mobile">
  <% unless Settings.ignore_singles -%>
  <dd><%= link_to 'New Game', new_game_path(:participant_pairs => 1) %></dd>
  <% end -%>
  <% unless Settings.ignore_doubles -%>
  <dd><%= link_to 'New Doubles Game', new_game_path(:participant_pairs => 2) %></dd>
  <% end -%>
</dl>

<h2><%= active_league.name %></h2>
<table class="players">
  <thead>
    <tr>
      <th>Player</th>
      <th class="rank">Rank <span>(<%= rank_header %>)</span></th>
      <th class="hide-on-phones">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @players.each do |player| -%>
      <tr>
        <td class="player avatar">
          <%= link_to(player) do %>
            <%= image_tag(gravatar_url_for(player.email)) %>
            <%= player.name  %>
          <% end %>
        </td>
        <td class="rank singles"><%= player_rank_text(player) %></td>
        <td class="actions hide-on-phones"><%= link_to 'Delete', player_path(player), :method => :delete, :confirm => "Delete #{player.display_name}?" %></td>
      </tr>
    <% end -%>
  </tbody>
</table>

<% content_for(:sidebar) do %>
  <h4>Recent Games (<%= Game.today.count %> today)</h4>
  <ul>
    <%= render recent_games %>
  </ul>
<% end %>
